/node_modules
/learning-platform/node_modules
/public/hot
/public/storage
/public/learning-platform
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
