<IfModule mod_rewrite.c>
    RewriteEngine On

    # Skip if already inside /sms/public
    RewriteCond %{REQUEST_URI} !^/sms/public

    # Redirect everything to /sms/public
    RewriteRule ^(.*)$ /sms/public/$1 [R=302,L,QSA]
</IfModule>
