<IfModule mod_rewrite.c>
    RewriteEngine On

    # Skip if already inside /portal/public
    RewriteCond %{REQUEST_URI} !^/portal/public

    # Redirect to /portal/public
    RewriteRule ^(.*)$ /portal/public/$1 [R=302,L,QSA]
</IfModule>
